/* src/styles/globals.css */

@import '@fontsource/metropolis/index.css';

/* Importing various weights of the Metropolis font */
@import "@fontsource/metropolis/300.css";
/* Light */
@import "@fontsource/metropolis/400.css";
/* Regular */
@import "@fontsource/metropolis/500.css";
/* Medium */
@import "@fontsource/metropolis/600.css";
/* Semibold */
@import "@fontsource/metropolis/700.css";
/* Bold */
@import "@fontsource/metropolis/800.css";
/* Extrabold */
@import "@fontsource/metropolis/900.css";
/* Black */

/* Import Tailwind's base styles */
@tailwind base;

/* Import Tailwind's component styles */
@tailwind components;

/* Import Tailwind's utility classes */
@tailwind utilities;

body {
  @apply font-sans;
}

/* Add this to the relevant element */
.text-wrap {
  word-wrap: break-word;
  /* Ensures long words wrap onto the next line */
  word-break: break-word;
  /* Breaks long words */
  overflow-wrap: break-word;
  /* Standard property to wrap text */
  white-space: normal;
  /* Ensures text wraps rather than staying on one line */
}

.text-smart-animation {
  -webkit-text-stroke: 5px black;
  font-size: 16rem !important;
}

.text-maneuver-animation {
  -webkit-text-stroke: 5px black;
}

@media (max-width: 767px) {
  .outlined-text-white {
    text-shadow:
      1px 1px 0 #fff,
      -1px 1px 0 #fff,
      -1px -1px 0 #fff,
      1px -1px 0 #fff;
  }

  .footer-text-dark {
    color: gray;
  }
}

@media (min-width: 768px) and (max-width: 799px) {
  .text-smart-animation {
    font-size: 7rem !important;
  }

  .text-maneuver-animation {
    font-size: 4rem !important;
  }
}

@media (min-width: 800px) and (max-width: 899px) {
  .text-smart-animation {
    font-size: 7rem !important;
    margin-left: 1rem;
  }

  .text-maneuver-animation {
    font-size: 4rem !important;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .text-smart-animation {
    font-size: 8rem !important;
    margin-left: 1rem;
  }

  .text-maneuver-animation {
    font-size: 5rem !important;
    margin-left: 2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .text-smart-animation {
    font-size: 8rem !important;
    margin-left: 3rem;
  }

  .text-maneuver-animation {
    font-size: 5rem !important;
    margin-left: 3rem;
  }
}

@media (min-width: 1280px) and (max-width: 1499px) {
  .text-smart-animation {
    font-size: 11rem !important;
  }

  .text-maneuver-animation {
    font-size: 7rem !important;
  }
}

@media (min-width: 1500px) and (max-width: 1600px) {
  .text-smart-animation {
    font-size: 13rem !important;
  }

  .text-maneuver-animation {
    font-size: 9rem !important;
    margin-left: 4rem;
  }
}

@media (min-width: 1700px) and (max-width: 1899px) {
  .text-smart-animation {
    font-size: 14rem !important;
  }

  .text-maneuver-animation {
    font-size: 9rem !important;
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .bg-smaller {
    background-size: 50%; /* Adjust the size as needed */
  }
}