.swiper-button-prev,
.swiper-button-next {
  color: red;
  /* Make navigation arrows red */
  font-size: 1.5rem;
  /* Adjust size if needed */
  transition: color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: darkred;
  /* Darker red on hover */
}

/* Hide arrows on smaller screens */
/* @media (max-width: 768px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
} */