.swiper-button-prev,
.swiper-button-next {
  color:#c62931;
  /* Make navigation arrows red */
  font-size: 1.5rem;
  /* Adjust size if needed */
  transition: color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color:#c62931;
  /* Darker red on hover */
}

/* Scrollbar draggable handle */
.swiper-scrollbar-drag {
  background:#c62931;
  /* Red color for draggable part */
  border-radius: 10px;
  height: 100%;
  /* Full height of scrollbar */
  transition: transform 0.2s ease-in-out, background 0.3s ease;
}

/* Change color and size on hover */
.swiper-scrollbar-drag:hover {
  background:#c62931;
  /* Darker red on hover */
  transform: scaleY(1.2);
  /* Slightly enlarge for smooth interaction */
}